@use "./fontFamily";

.left {
  font-family: "Poppins";
  width: 20%;
  height: 100vh;
  ul {
    li {
      p {
      }
    }
  }
}

.topbar {
  font-family: "Poppins";
  input[type="text"] {
    position: relative !important;
    height: 50px;
    width: 650px;
    border-radius: 8px;
    border: 2px solid #fafafc;
    &::placeholder {
      color: #dedede;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    position: absolute !important;
    height: 40px;
    right: 31.4%;
    background: #3c339c;
    color: #dedede;
    width: 100px;
    border-radius: 5px;
    top: 0.6%;
    &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }
  img {
    position: absolute !important;
    left: 23%;
    top: 5.7%;
  }
  p {
    font-family: "Poppins";
  }
}
