@use "./fontFamily";

.left {
  font-family: "Roboto", sans-serif;
  width: 20%;
  height: 100vh;
  ul {
    li {
      p {
      }
    }
  }
}

.topbar {
  font-family: "Poppins";
  input[type="text"] {
    height: 50px;
    width: 650px;
    border-radius: 8px;
    border: 2px solid #fafafc;
    &::placeholder {
      color: #dedede;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    position: absolute !important;
    height: 40px;
    right: 1%;
    background: #3c339c;
    color: #dedede;
    width: 100px;
    border-radius: 5px;
    top: 5%;
    &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }
  img {
    position: absolute !important;
    left: 3%;
    top: 48.7%;
  }
  &_left {
    p {
      font-family: "Poppins";
      color: #d8d2f8;
      font-weight: bold;
    }
  }
}

.badge-overlay {
  position: absolute;
  top: 0;
  left: 0;
  &.circle {
    background-color: #a9333f;
    color: white;
    font-weight: normal;
    border-radius: 9px;
    padding: 0px 5px;
    position: absolute;
    left: 10px;
    bottom: 0px;
    top: auto;
    font-size: 10px;
  }
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  &.dot {
    background-color: #36cc61;
    border-radius: 50%;
    position: absolute;
    left: 78px;
    bottom: 0px;
    top: 30px;
    width: 10px;
    height: 10px;
  }
}

.options {
  width: max-content;
  height: 50px;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  &_content {
    border-right: 2px solid #f5f5f5;
    p {
      color: #d4d4d4;
      span {
        &:nth-child(1) {
          font-size: 22px;
        }
      }
    }
  }
}
