@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;500;700;900&display=swap");

.App {
  background: #fafafc;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.home {
  border: 2px solid #ececee;
  border-radius: 6px;
  width: fit-content;
  height: auto;
  padding: 10px 24px;
}
